

<ul class="pages">
#foreach($notification in $action.getPageNotificationsForUser())

        <li><a href="$action.getBaseUrl()$notification.getPage().getUrlPath()">$notification.getPage().getSpace().getName()
        : $notification.getPage().getDisplayTitle()</a>

        last modified $notification.getPage().getLastModificationDate()


        set($lastModifier =false);
        $lastModifer=$notification.getPage().getLastModifierName()
        #if($lastModifier)
        by  $notification.getPage().getLastModifierName()

        #end
        </li>
#end
</ul>




<ul class="spaces">
#foreach($notification in $action.getSpaceNotificationsForUser())

        <li><a href="$action.getBaseUrl()$notification.getPage().getUrlPath()">notification.getSpace().getName()
        :notification.getSpace().getHomePage() </a> last modified $notification.getPage().getLastModificationDate()


        set($lastModifier=false);
        $lastModifer=$notification.getPage().getLastModifierName()
        #if($lastModifier)
        by  notification.getSpace().getLastModifierName()

        #end

         </li>
#end
</ul>


